.header {
    background-color: #95cde6;
    color: black;
    padding: 15px 20px;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    margin-bottom: 30px;
}

.header-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav ul li a {
    color: black;
    font-weight: 500;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.nav ul li a:hover {
    background-color: #341f97;
    color: #f0f4fa;
}
